<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <td><a href="/register/"><h5 style="background:#fb0000" align="center">Home</h5></a> </td>

<h3 style="background: #fb0000">
<ul>
1.Establish Professional Learning Communities. There's no doubt about it: Traditional professional development can be very pricey. ...<br>
2.Partner With Researchers. ...<br>
3.Encourage Teachers to Use Social-Networking Sites. ...<br>
4.Make Collaboration a Priority. ...<br>
5.Manage and Share Data. ...<br>
6.Use Free Digital Tools. ...<br>
7.Reduce Fixed Costs. ...<br>
8.Share Work.<br>

    </ul>
    </h3>








</body>
</html>